/*
img.media-object  {
    width:50px;
    height:50px;
    border-radius: 25px;
}
*/
@font-face {
    font-family:'Yoon Gothic';
    font-style:normal;
    font-weight:900;
    src:url("../fonts/yoon-gothic_750.eot?") format("eot"),
        url("../fonts/yoon-gothic_720.woff") format("woff"),
        url("../fonts/yoon-gothic_720.ttf") format("truetype");
}

#listview li {
    height: 160px;
}

#listview li h2{
    font-family: "Yoon Gothic", serif;
    font-size: 2em;
    margin: 0;
    color: #ffffff;
    letter-spacing: 2px;
    padding-top: 100px;
    text-align: right;
    padding-right: 10px;

}